<% provide :title, t(".title") %>
<% provide :main_content_title, t(".title") %>
<% provide :main_content_filter,  %>

<div class="row">

    <div class="col-<%= default_grid_system %>-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->

    </div><!-- /.col-lg-6 -->
    <div class="col-<%= default_grid_system %>-6">
      <div class="pull-right">
      <%= link_to icon(:plus, t(".add_user_link")), new_user_path, class: "btn btn-default" %>
    </div>
    </div><!-- /.col-lg-6 -->
 </div>
 <br>
 <br>
<div class="row">
  
  <table class="table table-striped full-width">
    <thead>
      <tr class="text-muted">
        <th><%= User.model_name.human %></th>
        <th><%= User.human_attribute_name "email" %></th>
        <th><%= User.human_attribute_name "role" %></th>
        <th>Username</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <%= render "shared/users/user_item", user: user %>
    <% end %>
  </table>
  
  <div class="col-<%= default_grid_system %>-12">
  <div class="pagination-block">
    <%= will_paginate @users, inner_window: 2, outer_window: 1 %>
    <div class="pagination-info text-muted">
      <small><%= page_entries_info @users, model: User, html: false %></small>
    </div>
  </div>
</div>
</div>