<tr>
  <td>
    <%= image_tag user.avatar.url(:thumb), class: "img-circle avatar avatar-thumb" %>
    <%= link_to user.full_name, user_path(user) %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= user.role %>
  </td>
  <td>
    <%= time_ago_tag(user.created_at) %>
  </td>
</tr>