<fieldset class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: "form-control" %>
  <%= error_messages f.object, :last_name %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: "form-control" %>
  <%= error_messages f.object, :first_name %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :middle_name %>
  <%= f.text_field :middle_name, class: "form-control" %>
  <%= error_messages f.object, :middle_name %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
  <%= error_messages f.object, :email %>
</fieldset>
<fieldset class="form-group">
  <%= f.label :birth_date, class: "display-block"%>
	<%= f.date_select :birth_date, { start_year: User.not_younger.year, end_year: User.not_older.year, prompt: true }, class: "form-control c-select date-select" %>
	<%= error_messages f.object, :birth_date %>
</fieldset>
<fieldset class="form-group">
  <%= User.human_attribute_name "gender" %><br>
  <label class="radio-inline c-input c-radio">
    <%= f.radio_button :gender, :male %>
    <span class="c-indicator"></span>
  	<%= User.human_attribute_name "gender.male" %>
  </label>
  <label class="radio-inline c-input c-radio">
    <%= f.radio_button :gender, :female %>
    <span class="c-indicator"></span>
  	<%= User.human_attribute_name "gender.female" %>
  </label>
  <label class="radio-inline c-input c-radio">
    <%= f.radio_button :gender, :other %>
    <span class="c-indicator"></span>
  	<%= User.human_attribute_name "gender.other" %>
  </label>
</fieldset>