<div class="container">
  <div class="row">
    <div class="col-<%= default_grid_system %>-9">
    	<div class="content-header">
    		<span class="lead text-muted">Пользователи</span>
    	</div>
      <div class="panel panel-default">
        <div class="panel-heading lead"><%= t ".title_#{action_name}" %></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-<%= default_grid_system %>-4 text-center">
              <%= render "shared/users/user_avatar", f: f %>
            </div>
            <div class="col-<%= default_grid_system %>-8">
              <%= render "shared/users/user_main_fields", f: f %>
              <br>
              
                
             <% if action_name != "edit" %>
                <p class="text-danger"><%= t ".password_note" %></p>
              <% end %>
              <br>
            </div><!-- /.col -->
          </div>
          <div class="row">
            <hr>
            <div class="col-<%= default_grid_system %>-12">
              <div class="pull-right">
                <% if action_name == "edit" %>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal">
                  <%= icon "trash-o", t(".confirm_delete_button") %>
                </button>
                <%= render partial: "shared/modals/delete", locals: { body: t(".confirm_delete"),
                                                                      delete_link: admin_user_path(@user) } %>
                <% end %>
                <button class="btn btn-default" type="submit"><%= icon "floppy-o", t(".submit_#{action_name}") %></button>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->