<% provide :title, t(".title") %>
<% provide :main_content_title, t(".title") %>
<% provide :main_content_filter,  %>

<div class="col-<%= default_grid_system %>-9">
  
  <%= render "shared/content_header" %>
  

      <table class="table">
        <% @users.each do |user| %>
          <%= render "shared/users/user_item", user: user %>
        <% end %>
      </table>
  
  <div class="pagination-block">
    <%= will_paginate @users, inner_window: 2, outer_window: 1 %>
    <div class="pagination-info text-muted">
      <small><%= page_entries_info @users, model: User, html: false %></small>
    </div>
  </div>
</div>

