<div class="col-<%= default_grid_system %>-3 sidebar">
	<div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead">
        <%= t ".title" %>
      </span>
    </div>
		<div class="panel-body">
			<div class="sidebar">
				<ul class="nav nav-sidebar">
          <%= sidebar_item(t(".profile"), admin_my_profile_path(current_user), :user, active_controllers: ["my_profile"]) %>
          <%= sidebar_item(t(".users"), admin_users_path, :users, available_for_roles: ["admin"], active_controllers: ["users"]) %>
          
          <%= sidebar_group(t(".settings"), :cog, :settings) do %>
            <%= sidebar_item(t(".locales"), admin_users_path, nil, active_controllers: ["my_profile"]) %>
            <%= sidebar_item(t(".roles"), admin_users_path, nil, available_for_roles: ["admin"], active_controllers: ["users"]) %>
          <% end %>
				</ul>
			</div>
		</div>
	</div>
</div>