<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true, cache: true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/base_header' %>
  <div class="container-fluid">
    <div class="row">
      <%= render 'layouts/sidebar' %>
      <div class="col-<%= default_grid_system %>-10">
        <div class="row">
          <div class="col-<%= default_grid_system %>-12">
            <%= render 'layouts/flash' %>
          </div><!-- /.col -->
          <div class="col-<%= default_grid_system %>-12">
            <div class="content-header">
              <h4 class="text-muted"><%= t ".#{controller_name}.main_title" %></h4>
            </div>
          </div><!-- /.col -->
          <div class="col-<%= default_grid_system %>-12">
            <div class="panel panel-default">
              <div class="panel-heading"><h4><%= t ".#{controller_name}.#{action_name}_title" %></h4></div>
              <div class="panel-body">
                <%= yield %>
              </div><!-- /.panel-body -->
            </div><!-- /.panel -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.col -->
      <%= render 'layouts/debug' %>
    </div><!-- /.row -->
  </div>
</body>
</html>